.like-button {
  background-image: url("./star (1).png");
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  aspect-ratio: 1/1;
  width: 17px;
}

.liked {
  background-image: url("./star-bookmark-favorite-shape-rank-16-28621.webp");
}
