
<ul>
  <li *ngFor="let i of posts" class="post">
    <div class="userdat">
      <div *ngIf="i.userimg !='';else placeholderimg">
        <img src="{{i.userimg}}" alt="{{i.user}}" class="userimg">
      </div>
      <!-- <div>
        <img src="./download (4).jpg" alt="{{i.user}}" class="userimg">
      </div> -->
      <p class="username">{{i.user}}</p>
    </div>
    <h1 class="caption">{{i.caption}}</h1>
    <div class="imgbox" *ngIf="i.image != ''"><img src="{{i.image}}" alt="" srcset=""></div>
    <app-likebutton></app-likebutton>
    <!-- TODO MAKE THE LIKE BUTTON WORK AND FIX THE CSS OR SCSS -->
    <!-- <router-outlet></router-outlet> -->
  </li>
</ul>
<ng-template #placeholderimg>
  <img src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png" alt="idk lol" class="userimg">
</ng-template>
