.post{
  background-color: rgb(211, 206, 206);
  border: solid 1px lavender;
  border-radius: 12px;
  min-height: 150px;
  padding: 7px;
}

.userdat{
  display:  flex;
}

.userimg{
  width: 39px;
  aspect-ratio: 1/1;
}

li{
  list-style: none;
}

.imgbox
{
  width: 300px;
  height: 300px;
}

.imgbox img{
  height: 100%;
}
